*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --mainColor: #304a6e;
    --lightColor: #c0d0ef;
    --darkColor: #0f1c30;
    --secondColor: #668dc0;
    --NeutroColor: #c2c6ce;
    --sndDrkClr: #052659;
    --mediunClr: #24262c;/*03091b*/
    --drkBlClr: #021024;
    --bckGrnd: rgb(37, 126, 77);
    --bckGrnd: rgb(78, 151, 111);
    --bckGrnd: rgb(14, 134, 74);
}

body{
    font-family: sans-serif;
    display: grid;
    max-width: 100vw;
    height: 100vh!important;
    overflow-x: hidden;
    grid-template-areas: 
    "header"
    "main";
    background-image: linear-gradient(67.5deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(90deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(135deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(0deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(90deg, rgb(8, 8, 8),rgb(221, 221, 221)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
    background-image: radial-gradient(circle at 99% 33%, rgba(162,209,173, 0.1) 0%, rgba(162,209,173, 0.1) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, rgba(162,209,173, 0.1) 0%, rgba(162,209,173, 0.1) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, rgba(162,209,173, 0.1) 0%, rgba(162,209,173, 0.1) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, rgba(162,209,173, 0.1) 0%, rgba(162,209,173, 0.1) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, rgba(162,209,173, 0.1) 0%, rgba(162,209,173, 0.1) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(6,63,62),rgb(6,63,62));
}


/**header**/

.returnArrow{
    display: none;
}

header{
    grid-area: header;
    background-color: var(--bckGrnd);
    padding: 1%;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a{
        text-decoration: none;
        color: #fff;
    }
}

header nav .txt_nav .infoTxt li{
    list-style: none;
    display: inline-block;
    display: flex;
    padding: 2%;
    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    p, a{
        align-content: center;
        margin-left: 3px;
        letter-spacing: 0.5px;
    }
    i{
        align-content: center;
        margin: 6px;
    }
}

header nav div  {
    .linkA1:hover::after, 
    .linkA3:hover::after,
    .linkA4:hover::after{
        content: ' ';
        position: absolute;
        margin-top: 22px;
        margin-left: -8%;
        width: 8.5%;
        height: 0.5%;
        border-radius: 20px;
        background-color: #56247e;
    }

    .linkA4:hover::after{
        margin-top: 12%;
        width: 35% !important;
        height: 2%;
        margin-left: -32%;
    }

    .linkA3:hover::after{
        margin-top: 12%;
        width: 38%;
        height: 2%;
        margin-left: -38%;
    }
}



.fa-play,
.fa-bars-staggered,
.fa-newspaper{
    color: #ffecd1;
}

.fa-mobile{
    color: #53237a;
}

header nav div .linkA1{
    margin-top: 5px;
}


header nav .txt_nav .infoTxt{
    display: flex;
    flex-direction: row;
    width: 120%;
    justify-content: space-around;
}

header nav .txt_nav:nth-child(2) .infoTxt{
    position: relative;
    margin-left: -50%;
    width: 150%;
}

header nav .txt_nav .infoTxt .profileTxt{
    margin-right: 10%;
}

.menuToggle{
    display: none;
}








/************************************************/

.sectNews{
    margin-top: 1%;
    display: flex;
    text-align: center;
    font-size: 150%;
    flex-direction: column;
}

.linkToMpSc{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mapBxLn{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mapBxLn{
    align-items: center;

    label{
        font-weight: bolder;
    }

    input{
        cursor: pointer;
        padding: 4%;
        width: 50%;
        border-radius: 30px;
    }

    small{
        font-size: 50%;
        margin-bottom: 10%;
    }
}

.mapBxLn input:hover{
    background-color: #dbd7d7bb;
}

.mapBxLn input:focus{
    outline: none;
}

.mapCt{
    border-radius: 20px;
    outline: 2px solid #000;
}











/************************************************************/

button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}

button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

button:active {
    transform: scale(0.9);
}


/******************************************/

.brtsCtn{
    position: relative;
}

.emerBls{
    position: absolute;
}

.emerBls .blls{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.emerBls:nth-child(1){
    top: 18%;
    right: 6%;

    .blls{
        border-radius: 999999999px;
        background-color: #b8a11ca6;
    }
}

.infor{
    background-color: #fff;
    border-radius: 20px;
    padding: 1%;
    width: 15%;
    margin-top: -12%;
    margin-left: -5%;
    border: 1px solid #000;
    position: fixed;
    display: none;

    .perflRpt{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        div{
            font-size: 19px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }

    h3{
        margin-top: 5px;
        font-size: 15px;
    }

    p{
        font-size: 15px;
    }
}

.perflRpt div p:nth-child(2){
    font-size: 12px;
}

.infor .imgReprt{
    width: 20%;
    border-radius: 999999999px;
}

.emerBls:nth-child(2){
    top: 40%;
    left: 10%;

    .blls{
        border-radius: 999999999px;
        background-color: #a0471eb7;
    }
}

.emerBls:nth-child(3){
    top: 55%;
    right: 20%;

    .blls{
        border-radius: 999999999px;
        background-color: #b8a11ca6;
    }
}



@media (max-width: 767px){

    .first-list{
        position: fixed;
        top: 65px;
        z-index: 10000000;
        width: 28%;
        left: 120%;

        transition: left 0.3s;
    }

    .first-list .infoTxt{
        display: flex;
        flex-direction: column-reverse!important;
        padding: 4%;
        border-radius: 20px;
        background-color: #c5c5c5;
        img{
            margin-left: 30%;
        }
        height: 10pc;
        p, a{
            color: #000;
        }
        i{
            color: #640909;
        }
    }

    header nav div  {
        .linkA1 a:hover::after, 
        .linkA1 a.active::after,
        .linkA3 a:hover::after,
        .linkA4 a:hover::after{
            margin-left: -8%;
            width: 8%;
        }
    
        .linkA4 a:hover::after,
        .linkA4 a.active{
            margin-top: 11%;
            width: 36% !important;
            height: 2%;
            margin-left: -34%;
        }
    
        .linkA3 a:hover::after,
        .linkA3 a.active{
            margin-top: 11%;
            width: 40% !important;
            height: 2%;
            margin-left: -40%;
        }
    }

    .returnArrow{
        display: block;
        float: left;
        position: absolute;
        bottom: 2%;

        i{
            color: #ffffff;
            color: #2c2929;
        }
    }

    .menuToggle{
        display: block;
        margin: 5%;
    }

    .first_ctn{
        padding-top: 3%;
        img{
            margin-top: 5%;
        }
    }

    .prflIfn_cnt,
    .all-Info-ctn{
        border-radius: 20px;
    }

    .first_ctn{
        margin: 10%;
    }

    .porfileBox_ctn{
        overflow-y: hidden;
        height: 85%;
        margin-top: -10%;
    }

    .prflIfn_cnt{
        flex-basis: 100%;
        border-right: 1px solid #fff;
    }

    .all-Info-ctn{
        width: 95%!important;
        background-color: #c9c9c9;
        height: 95%!important;
        position: fixed;
        left: -120%;
        border-left: 1px solid #ffffff;

        
        transition: left 0.3s!important;
    }


    /***************************************/
        /*/***/

        .sectNews{
            margin-top: 4%;
        }
    
        .linkToMpSc{
            iframe{
                width: 80%;
                margin-top: 12%;
            }
        }
    
        .mapBxLn{
            margin-top: 5%;
            label{
                font-size: 80%;
            }
            small{
                width: 80%;
            }
        }
    
    /*/*//****//***/

    .emerBls .blls{
        width: 40px;
        height: 40px;
    }

    .emerBls:nth-child(1){
        top: 12%;
        right: 18%;
    }

    .infor{
        width: 12pc;
        margin-top: -37%!important;
        margin-left: -18%;
        border: 1px solid #000;
        position: fixed;
        display: none;

        .perflRpt{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            div{
                font-size: 19px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }

        h3{
            margin-top: 5px;
            font-size: 15px;
        }

        p{
            font-size: 15px;
        }
    }

}

.bringBack{
    left: 2.5%!important;
}

.bckScroll{
    background-color: rgb(65, 92, 167);
}

.blockft{
    left: 71.8%;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

