*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(82, 151, 151);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
}


/*navegtion bar*/

header{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 8.5%;
    z-index: 1000;
    transition: 0.6s;
    z-index: 10000000;
}

.btns{
    display: none;
}

.log-cnt_rw{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;
}

.logo_ttl{
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav_txt{
    letter-spacing: 1.5px;
    font-size: 1.1em;
}

.alingTxt{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-logo{
    position: relative;
    border-radius: 9vh;
    width: 100%;
    margin-left: -5px;
    height: 70%;
}

.nav_bar{
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_bar ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin-right: 2pc;
}

.nav_bar ul li a{
    text-decoration: none;
    color: #f8f8ffbd;
    transition: 0.6s;
}

.nav_bar ul li a:hover{
    text-decoration: underline;
}






/*formulario*/

main{
    width: 100vw;
    height: 91.5vh;
    margin-top: 4%;
}

.login-ctn{
    margin: auto;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.login-ctn .img_frm-ctn{
    position: absolute;
    width: 100%;
    height: 10%;
    text-align: center;
}

.login-ctn .img_frm-ctn img{
    border-radius: 20%;
    width: 10%;
    height: 100%;
}

.login-ctn form{
    margin: auto;
    align-items: center;
    width: 80%;
    height: 90%;
    border-radius: 20px;
}

.formCnt h2{
    text-align: center;
    margin-top: 20%;
    font-size: 240%;
}

.formCnt .input-ctn {
    width: 100%;
    margin: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formCnt .input-ctn .user-box {
    position: relative;
    width: 60%;
}

.formCnt .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.formCnt .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.formCnt .user-box input:focus ~ label,
.formCnt .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.frgt_psw-cnt{
    text-align: center;
    font-size: 14px;
    margin-top: -6%;
}

.frgt_psw-cnt a{
    text-decoration: none;
    color: #ffe4c4;
}

.btn_frm-ctn{
    text-align: center;
    padding: 10px;
}

.btn_frm-ctn button{
    cursor: pointer;
    width: 30%;
    height: 3pc;
    border-radius: 20px;
    border-color: transparent;
    background-color: rgb(24, 155, 116);
}

.btn_frm-ctn .btn_txt{
    padding: 20px;
    font-size: 120%;
    color: #fff;
}

.singUp-ctn{
    font-size: 14px;
    color: #ffe4c4;
    text-align: center;
    margin-top: 5%;
}

.singUp-ctn a{
    text-decoration: none;
}


/*footer*/


.terms-ctn{
    position: absolute;
    bottom: 1%;
    left: 1%;
    font-weight: bolder;
    z-index: 10000;
}

.terms-ctn a{
    text-decoration: none;
    color: #0b795d;
}


/*medic image*/

.img_medic-cnt{
    position: absolute;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 60%;
    bottom: 0;
    right: 0;
    z-index: -10000;
}



@media (max-width: 768px){
    .btns{
        display: block;
    }

    .nav_bar .first-list span{
        display: none;
    }

    .nav-container{
        height: 90px;
    }

    .nav-container .log-cnt_rw{
        width: 30%;
    }

    .nav-container .log-cnt_rw img{
        width: 150%;
        height: 50%;
    }

    .nav-container .log-cnt_rw .logo_ttl{
        position: relative;
        left: 60%;
    }


    .nav-container .nav_bar .btns{
        height: 100%;
        width: 100px;
        font-size: 200%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_bar .first-list{
        background-color: #5292a5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        left: 100%;
        margin: 0;
        width: 100%;
        position: fixed;
        height: calc(100% - 90px);
        top: 90px;

        transition: left 0.3s;
    }

    .sticky .img-logo{
        width: 75%;
        margin-left: -5px;
    }


    /*/***/

    
    main{
        height: 80vh;
        margin-top: 90px;
    }

    .login-ctn{
        width: 100%;
    }

    .login-ctn .img_frm-ctn img{
        width: 20%;
    }

    .formCnt .user-box input:focus ~ label,
    .formCnt .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #03e9f4;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
    }



    /***********************//**************/
    
    .terms-ctn{
    }
    
    .img_medic-cnt{
        width: 10%;
        height: 25%;
        bottom: 4%;
    }

    .img_medic-cnt img{
        width: 700%;
        height: 110%;
        position: absolute;
    }
}


@media (max-width: 410px){

    .btn_frm-ctn button{
        width: 50%;
        height: 3pc;
        border-radius: 20px;
        border-color: transparent;
        background-color: rgb(24, 155, 116);
    }

    /*/*//****//***/


    .footer-ctn .footer-ctn_hdr .ftr_hdr_terms li{
        margin-left: 3%;
        padding: 10px;
        padding-bottom: 10px;
    }

}

.blockft{
    display: block;
    left: 0!important;
}

.bckScroll{
    background-color: rgb(65, 92, 167);

}