*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --mainColor: #304a6e;
    --lightColor: #c0d0ef;
    --darkColor: #0f1c30;
    --secondColor: #668dc0;
    --NeutroColor: #c2c6ce;
    --sndDrkClr: #052659;
    --mediunClr: #24262c;/*03091b*/
    --drkBlClr: #021024;
    --bckGrnd: rgb(37, 126, 77);
    --bckGrnd: rgb(78, 151, 111);
    --bckGrnd: rgb(14, 134, 74);
}

body{
    background-color: var(--NeutroColor)!important;
    font-family: sans-serif;
    display: grid;
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    grid-template-areas: 
    "header header header header"
    "main main main main";
    background-image: linear-gradient(200deg, rgba(171, 171, 171,0.05) 0%, rgba(171, 171, 171,0.05) 23%,rgba(90, 90, 90,0.05) 23%, rgba(90, 90, 90,0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(232, 232, 232,0.05) 61%, rgba(232, 232, 232,0.05) 100%),linear-gradient(126deg, rgba(194, 194, 194,0.05) 0%, rgba(194, 194, 194,0.05) 11%,rgba(127, 127, 127,0.05) 11%, rgba(127, 127, 127,0.05) 33%,rgba(117, 117, 117,0.05) 33%, rgba(117, 117, 117,0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, hsl(148,0%,0%),hsl(148,0%,0%));
    background-image: linear-gradient(200deg, rgba(171, 171, 171,0.05) 0%, rgba(171, 171, 171,0.05) 23%,rgba(90, 90, 90,0.05) 23%, rgba(90, 90, 90,0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(232, 232, 232,0.05) 61%, rgba(232, 232, 232,0.05) 100%),linear-gradient(126deg, rgba(194, 194, 194,0.05) 0%, rgba(194, 194, 194,0.05) 11%,rgba(127, 127, 127,0.05) 11%, rgba(127, 127, 127,0.05) 33%,rgba(117, 117, 117,0.05) 33%, rgba(117, 117, 117,0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, rgb(178,178,178),rgb(178,178,178));
    background-image: linear-gradient(200deg, rgba(171, 171, 171,0.05) 0%, rgba(171, 171, 171,0.05) 23%,rgba(90, 90, 90,0.05) 23%, rgba(90, 90, 90,0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(232, 232, 232,0.05) 61%, rgba(232, 232, 232,0.05) 100%),linear-gradient(126deg, rgba(194, 194, 194,0.05) 0%, rgba(194, 194, 194,0.05) 11%,rgba(127, 127, 127,0.05) 11%, rgba(127, 127, 127,0.05) 33%,rgba(117, 117, 117,0.05) 33%, rgba(117, 117, 117,0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, rgb(58,100,114),rgb(58,100,114));

}


/**header**/


header{
    grid-area: header;
    background-color: var(--bckGrnd);
    padding: 1%;
    height: 90%;
    border-radius: 0 0 10px 10px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a{
        text-decoration: none;
        color: #fff;
    }
}

header nav .txt_nav .infoTxt li{
    list-style: none;
    display: inline-block;
    display: flex;
    padding: 2%;
    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .profileTxt{
        font-weight: bolder;
        align-content: center;
        margin-left: 5px;
        letter-spacing: 0.5px;
    }
    i{
        align-content: center;
        margin: 6px;
    }
}

.fa-play,
.fa-bars-staggered,
.fa-newspaper{
    color: #ffecd1;
}

.fa-mobile{
    color: #53237a;
}

.fa-bars-staggered{
    display: none!important;
}

header nav div .linkA1{
    margin-top: 5px;
}


header nav .txt_nav .infoTxt{
    display: flex;
    flex-direction: row;
    width: 120%;
    justify-content: space-around;
}

header nav .txt_nav:nth-child(2) .infoTxt{
    position: relative;
    margin-left: -50%;
    width: 150%;
}

header nav .txt_nav .infoTxt .profileTxt{
    margin-right: 10%;
}

fa-bars-staggered{
    display: none!important;
}





/*profile box*/

.btn-default {
    border-color: rgba(24, 28, 33, 0.151);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

.btn {
    cursor: pointer;
}


main{
    grid-area: main;
    height: 100%;
    background-color: transparent;
    border-radius: 30px;
    margin: auto;
    width: 80%;
    padding: 2%;
    backdrop-filter: blur(100px)!important;
}

main .profileBox section{
    border: 1px solid #fff;
}

main .profileBox{
    display: flex;
    flex-direction: row;
    justify-content: start;

    .imgPrf_ctn{
        text-align: center;
        padding: 4%;
        margin-top: 10px;
        color: #fff;
    }
}

main .profileBox img{
    border-radius: 9999px;
    width: 50%;
}


.id_options ul{
    list-style: none;
    text-align: center;
    margin-top: 20px;
    li{
        padding: 8% 8%;
    }
}

.id_options ul li > a{
    color: #000;
    text-decoration: none;
    font-weight: bolder;
}

.id_options ul li:hover{
    background-color: #668dc083;
}

.id_options ul li .active{
    border-top: 1px solid #ffffff6e;
    border-bottom: 1px solid #ffffff6e;
}

.all-Info-ctn{
    padding: 2%;
}

#account-general{

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
        width: 15%;
    }

    .card-body{
        display: flex;
    }
}








.img_EditPrfl{
    padding: 2%;
    align-items: center;

    .ml-4{
        margin-left: 5%;
    }
    
}

.ml-4 small{
    margin-top: 1px!important;
}

.btn-outline-primary , btn-primary{
    border: 2px solid var(--sndDrkClr);
    background  : transparent;
    padding: 2%;
    color       : #26B4FF;
    border-radius: 20px;    
}

.btn-outline-primary:hover{
    background-color: var(--mainColor);
}

.md-btn-flat{
    padding: 1%;
    color: #000;    
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.formCtn{
    padding: 2%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    
    form{
        --c-text: rgb(50, 50, 80);
        --c-bg: rgb(252, 252, 252);
        --c-outline: rgb(55, 45 , 190);
        position: relative;
    }

}

.formCtn form input{
    margin: 2%;
    margin-bottom: 4%;
    width: 50%;
}

.alert-warning{ display: none;}

section:nth-child(1){width: 30%;}
section:nth-child(2){width: 70%;}


.input-field {
    padding: 0.5em 0.75em;
    border-radius: 0.2em;
    border: 1px solid transparent;
    color: var(--c-text);
    font-size: 1rem;
    letter-spacing: 0.1ch;
    width: 100%;
}

.input-field:not(:placeholder-shown) + .input-label {
    transform: translateY(-50%);
    opacity: 1;
}

.input-field:invalid {
    --c-border: rgb(230, 85, 60);
    --c-text: rgb(230, 85, 60);
    --c-outline: rgb(230, 85, 60);
}

.input-field:is(:disabled, :read-only) {
    --c-border: rgb(150, 150, 150);
    --c-text: rgb(170, 170, 170);
}

.input-field:is(:focus, :focus-visible) {
    outline: 2px solid var(--c-outline);
    outline-offset: 2px;
} 

.input-label {
    --timing: 200ms ease-in;
    position: absolute;
    transition: transform var(--timing),
        opacity var(--timing);
    opacity:0;
    left: 20%;
    transform: translateY(120%);
    color: var(--drkBlClr);
    font-weight: bolder;
}

.mt-3 .btn-primary{
    background-color: #052659;
    color: #ffecd1;
    padding: 2%;
    border-radius: 20px;
}

.mt-3 .btn-primary:hover{
    background-color: #163e7a;
}
.mt-3 .btn-default:hover{
    background-color: #3b3b41;
}

.mt-3 .btn-default{
    color: #ffecd1;
    padding: 1%;
    border-radius: 20px;
}

.actPg{
    text-decoration: underline;
}










/*////////////////////////////////////*/



#account-general{
    display: block;
}

#account-aplication{
    display: none;
    text-align: center;
    padding: 5%;
}

#account-change-password{
    display: none;
    flex-direction: column;
    padding: 4%;
    height: 100%;

    svg{
        width: 40%;
        float: right;
    }
}

#account-change-password{
    display: none;
    padding: 4%;
    height: 100%;
}

#account-notifications{
    display: none;
    height: 100%;
    padding: 5%;
}

/*////////////////////////////////////*/











.apk_Dnw{

    button{
        margin:auto;
        margin-top: 5%;
        padding: 2%;
        border-radius: 20px;
        background-color: var(--bckGrnd);
        width: 25%;
        cursor: pointer;
    }
}

.svgCtn svg{
    width: 20%;
    position: absolute;
    top: -26%;
    right: 5%;
}

.cssbuttons-io-button {
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95); 
}


.visibleCnt{
    display: block!important;
}

.invisibleCnt{
    display: none!important;
}

.active{
    border: 1px solid #0505051e;
    background-color: #6499b665;
}














.wave-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    div{
        margin-left: 5%;
        margin-bottom: 10%;
    }
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #1d1b1b;
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    margin-top: -4%;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
    transform: translate(-20%,-150%);
    font-size: 14px;
    color: #313135;
    font-weight: bold;
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 200px;
}

.wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #2b324b;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
    width: 50%;
}


















.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1.05rem;
    display: flex;
    user-select: none;
}

.ntf-ctn .card-body{
    margin-bottom: 5px;
}

.ntf-ctn svg{
    width: 30%;
    float: right;
}

/* Create a custom checkbox */
.checkmark {
    --clr: #0B6E4F;
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    margin-right: 4px;
    background-color: #ccc;
    border-radius: 50%;
    transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: var(--clr);
    border-radius: .5rem;
    animation: p 600ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #E0E0E2;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

@keyframes p {
    0% {
        box-shadow: 0 0 0 #0B6E4F90;
        rotate: 20deg;
    }

    50% {
        rotate: -20deg;
    }

    75% {
        box-shadow: 0 0 0 10px #0B6E4F60;
    }

    100% {
        box-shadow: 0 0 0 13px #0B6E4F30;
        rotate: 0;
    }
}

.ntf-ctn {
    .mb-4{
        font-size: x-large;
        font-weight: bolder;
    }
}

.ntf-ctn .card-body .label-ctn{
    margin-top: 2%;
    margin-bottom: 2%;
}